<section class="bg-primary" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">{{ i18n "titulo-sobre" }}</h2>
        <hr class="light">
        <div class="text-faded">
          {{ range where .Data.Pages "Title" "Sobre" }}
            {{ .Content }}
          {{ end }}
        </div>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#servicos">
          {{ i18n "nossos-servicos" }}
        </a>
      </div>
    </div>
  </div>
</section>