<!-- Bootstrap core JavaScript -->
<script src='{{ "js/jquery/jquery.min.js" | absURL }}'></script>
<script src='{{ "js/popper/popper.min.js" | absURL }}'></script>
<script src='{{ "js/bootstrap/bootstrap.min.js" | absURL }}'></script>

<!-- Plugin JavaScript -->
<script src='{{ "js/jquery-easing/jquery.easing.min.js" | absURL }}'></script>
<script src='{{ "js/scrollreveal/scrollreveal.min.js" | absURL }}'></script>
<script src='{{ "js/magnific-popup/jquery.magnific-popup.min.js" | absURL }}'></script>

<!-- Custom scripts for this template -->
<script src='{{ "js/creative.js" | absURL }}'></script>