<!DOCTYPE html>
<html>
<head>
	<title>
		{{ block "title" . }}{{ .Site.Title }} {{ with .Title }}{{ end }}{{ end }}
	</title>

	<link href='{{ "img/favicon.ico" | relURL }}' rel="icon" type="image/x-icon">
	<link href='{{ "css/main.css?v=2" | relURL }}' rel='stylesheet' type="text/css">
</head>
<body id="page-top">
	{{ block "header" . }}
		{{ partial "header.html" .}}
	{{ end }}
	
	<main class="pb7" role="main">
		{{ block "main" . }}{{ end }}
	</main>

	{{ block "footer" . }}
		{{ partial "footer.html" . }}
	{{ end }}
	{{ block "scripts" . }}
		{{ partial "scripts.html" . }}
	{{ end }}
</body>
</html>
