/* Terceiros */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700');
@import 'bootstrap/bootstrap.css';
@import 'font-awesome/css/font-awesome.css';

/* Template */
@import 'creative.css';

h3, .h3 {
	font-size: 1.65rem;
}

#mainNav .navbar-brand {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-brand {
	text-align: center;
	width: 270px;
}

#mainNav.navbar-shrink .navbar-brand img {
	transition: all 0.2s;
}

#mainNav.navbar-shrink .navbar-brand img {
	-webkit-filter: invert(65%);
	filter: invert(65%);
}

.navbar-brand .row {
	align-items: center;
}

.navbar-brand .logo-img {
	height: 64px;
}

.navbar-brand .sub-link {
	display: block;
	font-size: 12px;
}

#portos {
	padding-top: 0;
    padding-bottom: 70px;
    height: 485px;
    box-sizing: border-box;
}

#portos #map {
	height: 100%;
}